.load-button {
  display: block;
  margin: 20px auto 36px;
  padding: 5px 30px;
  background: #fff;
  border: 1px solid rgba(#000, 0.25);
  border-radius: 10px;

  font-size: 24px;
  font-weight: 700;
  color: $primary;
  cursor: pointer;
  transition: 0.3s;

  &.hiding {
    display: none;
  }

  &:hover {
    background: $primary;
    color: #fff;
    border-color: $primary;
  }
}
