@import "custom";
@import "./partials/vars";

@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~normalize.css/normalize.css";
@import "~select2/dist/css/select2.min.css";

@import "./partials/avatar";
@import "./partials/block-title";
@import "./partials/checkbox";
@import "./partials/custom-select";
@import "./partials/filters";
@import "./partials/filters-form";
@import "./partials/link";
@import "./partials/load-button";
@import "./partials/nats-list";
@import "./partials/preloader";
@import "./partials/search-failed";
@import "./partials/search-form";
@import "./partials/statistics";
@import "./partials/user";

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
  
  padding: 10px 0;
  background: rgba(#000, 0.05);
  
  &.loading {
    .lds-roller {
      display: block;
    }
  }
}

.button-reset {
  padding: 6px 15px;
  background: $green;
  border: 1px solid $green;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover {
    background: $primary;
    border-color: $primary;
  }
  
  &--wide {
    width: 100%;
  }
  
  @media (max-width: 576px) {
    width: 100%;
  }
}
